{% extends "ordini/base.html" %}
{% block content %}
	<script>
		$(document).ready(function(){
			$('.back').click(function(){
				window.location = '/gestione_ordini/{{order.id}}/edit#{{section}}';
				return false;
			});
		});
	</script>
	
	<div class='module'>
		<h1>{{ order }}</h1> 

		{% if error_message %}<p style="color:red; font-weight:bold">{{ error_message }}</p>{% endif %}

		<p> Proponente: {{order.proponente.profilo}}</p>
		<p> Sezione: {{section}}</p>
		<!-- Upload form. Note enctype attribute! -->
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
				<div style="margin-top:30px;">{{ field.label }}{{ field }}</div>
			{% endfor %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Allega file" /><input class="back" type="button" value="Indietro" /></p>
		</form>
	</div>
{% endblock %}